@model SneakerBoxStore.Models.Sneaker

@{
    ViewData["Title"] = "Details - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .detail-center {
        margin: auto;
        width: 80%;
    }
</style>
<main>
    <div>
        <div>
            <h4>
                @Html.DisplayFor(model => model.BrandCategory.BrandName)
                @Html.DisplayFor(model => model.ModelName)
            </h4>
        </div>
        <hr />
        <div class="detail-center">
            <dl class="row font-weight-bold">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ModelName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ModelName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ReleaseYear)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Material)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Material)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                </dt>
                <dd class="col-sm-10">
                    <img src="@("~/img/sneaker_upload/"+Model.Image)" asp-append-version="true" width="300px" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.InStock)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.InStock)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BrandCategory)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BrandCategory.BrandName)
                </dd>
            </dl>
            <form method="post" action="/Shop/AddToCart" class="offset-sm-2">
                <input type="hidden" id="SneakerId" name="SneakerId" value="@Model.SneakerId" />
                <div class="form-group">
                    <label class="control-label" for="Quantity">Quantity</label>
                    <input name="Quantity" id="quantity" required min="1" max="10" type="number" class="input-small" width="50px" />
                    <br />
                    <label class="control-label" for="Size">Size</label>&nbsp;&nbsp;
                    <input name="Size" id="size" required min="37" max="45" type="number" class="input-small" width="50px" />
                </div>
                <a href="javascript:history.go(-1);" class="btn btn-secondary bg-transparent">Back</a>
                &nbsp;
                <button class="btn btn-primary">Add to Cart</button>
            </form>
        </div>
        <br />
        @if (User.IsInRole("Administrator"))
        {
            <div>
                <a asp-action="Edit" asp-route-id="@Model.SneakerId">
                    <input type="submit" value="Edit" class="btn btn-outline-primary" />
                </a>
                <a asp-action="Delete" asp-route-id="@Model.SneakerId">
                    <input type="submit" value="Delete" class="btn btn-outline-primary" />
                </a>
                <br /><br />
            </div>
        }

    </div>
</main>