@model IEnumerable<SneakerBoxStore.Models.Sneaker>

@{
    ViewData["Title"] = "Shop - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shop</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="grid-container">
        
        <div class="grid-item">
            
            <a asp-action="Details" asp-route-id="@item.SneakerId">
                @if (item.Image != null)
                {
                    <img src="~/img/sneaker_upload/@item.Image" class="img-thumbnail" alt="Sneaker Image" />
                }
                <br />
                @Html.DisplayFor(modelItem => item.BrandCategory.BrandName) 
                @Html.DisplayFor(modelItem => item.ModelName)
                - @Html.DisplayFor(modelItem => item.Price)
                <br />
                <small>
                    <a asp-action="Edit" asp-route-id="@item.SneakerId">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.SneakerId">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.SneakerId">Delete</a>
                </small>
            </a>
        </div>
    </div>

}



@*<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandCategory.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (item.Image != null)
                    {
                        <img src="~/img/sneaker_upload/@item.Image" class="img-thumbnail" alt="Sneaker Image" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.SneakerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SneakerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SneakerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
